{% extends "material/base.html" %}
{% block title %} {% if title %} {{title}}{% else %} Jacob's Web App{% endif %} {% endblock %}
{%  block navbar %}
     <nav class = light-blue>
    <div class="container nav-wrapper">
      <a href="/" class="brand-logo">To Do</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/calculator">Calculator</a></li>
        <li><a href="/newTask">Create a New Task</a></li>
        <li><a href="viewtask">View Complete Tasks</a></li>
      </ul>
    </div>
  </nav>
{%  endblock %}
{% block scripts %}
    <script>
        $('select').material_select();
    </script>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        })
    </script>
{% endblock %}