{%  extends "base.html" %}
{% block content %}
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12">
                {%  if todos|count > 0 %}
                <h3> To Do</h3>
                <table id = "todo-table" class = "table">
                    <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Creation Date</th>
                        <th>Actions</th>
                    </tr>
                    {%- for todo in todos %}
                        <tr {%  if todo.is_done %} class ="success" {% endif %}>
                            <td> {{ loop.index }} </td>
                            <td {% if todo.is_done %}style="text-decoration:line-through"{% endif %}>
                                {{ todo.description }}</td>
                            <td>{{ todo.priority.name }}</td>
                            <td>{{ todo.creation_date }}</td>
                        </tr>
                    {%- endfor %}
                </table>
            {% else %}
            <h3>No To Dos Yet!</h3>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}