{%  extends "base.html" %}
{% block content %}
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12">
                {%  if todos|count > 0 %}
                <h3>To Do</h3>
                <table id = "todo-table" class = "table">
                    <tr>
                        <th>Description</th>
                        <th>Creation Date</th>
                        <th>Action</th>
                    </tr>
                    {%- for todo in todos %}
                        <tr>
                            <td {%if todo.is_done == True %} style="text-decoration: line-through;" {% endif %}>{{ todo.description }}</td>
                            <td>{{ todo.creation_date }}</td>
                            <td>
                            {% if todo.is_done == False %}
                                <a href = "edit_db/{{todo.id}}">
                                <button type="submit" id=" {{todo.id}}" href="edit_db/{{todo.id}}" class="waves-effect waves-light btn">Mark As Done</button></a>
                            {% else %}
                                <a href = "edit_db/{{todo.id}}">
                                <button type="submit" id=" {{todo.id}}" href="edit_db/{{todo.id}}" class="waves-effect waves-light btn">Undo</button></a>
                            {% endif %}
                            <td>
                    {%- endfor %}
                </table>
            {% else %}
            <h3>No To Dos Yet!</h3>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}