{% extends "base.html" %}
{% block content %}
    <div class = "container">
<form action= "" method= "post" class="col s12">
    <h2>Create new Todo</h2>
            <div class="row">
                <div class="input-field col s12">
                    <textarea
                        type="text"
                        id="description"
                        name="description"
                        maxlength="60"
                        class="materialize-textarea"
                        placeholder="Enter Description Here"
                        {% if todo is defined -%}
                            value="{{ todo.description }}"
                        {% endif -%}
                        required></textarea>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-success">
                    Create Todo
                </button>
            </div>
    </form>
    </div>
{% endblock %}