{%  extends "base.html" %}
{% block content %}
    <div class = "container">
        <div class = "row">
            <div class = "l6 offset-l3">
                {%  if todos|count > 0 %}
                <h3 class = "center-align">To Do</h3>
                <!-- Table Contents Here -->
                <table id = "todo-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Creation Date</th>
                        <th>Action</th>
                    </tr>
                    <thead>
                    {%- for todo in todos %}
                        <!-- Loop through all elements in DB -->
                        <tr>
                            <td {% if todo.is_done == True %} style="text-decoration: line-through;" {% endif %}>{{ todo.name }} </td>
                            <td {%if todo.is_done == True %} style="text-decoration: line-through;" {% endif %}>{{ todo.description }}</td>
                            <td>{{ todo.creation_date }}</td>
                            <td>
                            {% if todo.is_done == False %}
                                <a href = "edit_db/{{todo.id}}">
                                <button type="submit" id=" {{todo.id}}" href="edit_db/{{todo.id}}" class="waves-effect waves-light btn green">Mark As Done</button></a>
                            {% else %}
                                <a href = "delete_db/{{todo.id}}">
                                <button type="submit" id=" {{todo.id}}" href="delete_db/{{todo.id}}" class="waves-effect waves-light btn red accent-4">Delete</button></a>
                            {% endif %}

                            </td>
                        </tr>
                    {%- endfor %}
                </table>
            {% else %}
            <h3 class = "center-align">No To Dos Yet!</h3>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}