{% extends "bootstrap/base.html" %}

{% block title %} {% if title %} {{title}}{% else %}minatu.re{% endif %} {% endblock %}
{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href= {{url_for('static', filename='jhmod.css')}}
{% endblock %}

{%  block navbar %}
 <nav class="navbar navbar-default navbar-fixed-top>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">minatu.re</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">URL Shortener</a>
                    </li>
                    <li>
                         {% if g.user.is_authenticated %}<a href="{{ url_for('profile', nickname = g.user.user_name) }}">My Profile</a>{% endif %}
                    </li>
                     <li>
                        {% if g.user.is_authenticated %}<a href="/logout">Logout</a>{% else %}
                        <a href="/login">Login</a> {%endif%}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{%  endblock %}

