{% extends "base.html" %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>minatu.re</h1>
                    <span class="subheading"><i>"The world's crappiest URL Shortener" - PC World</i></span>
                </div>
            </div>
            
            <hr class="small">
            
            <div class = "row">
                <div class = "text-center">
                    <h2>Welcome {{user.first_name}} {{user.last_name}}!</h2>
                    <button type="submit" id=" {{g.user.id}}" href="editprofile/{{g.user.id}}" class="btn btn-success center-block">Edit Profile</button></a>
                    <h2>{{user.user_name}}'s Links:<h2>
                </div>
            </div>
             <div class = "row">
                  <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Original URL</th>
                            <th>minatu.re'd URL</th>
                          </tr>
                        </thead>
                    {% for post in posts %}
                    <tr>
                    <td><a href = "{{post.long_url}}">{{post.long_url}}</a></td>
                    <td><a href = "{{request.url_root}}{{post.short_url}}">{{request.url_root}}{{post.short_url}}</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>

{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/clipboard.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/custom.min.js')}}"> </script>

{% endblock %}